.centered-content {
  height: 50vh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  cursor: pointer;
}

.tabs-title {
  padding: 20px;
  background-color: #23201D;
  color: #937341;
  cursor: pointer;

}

.tabs-title.active {
  background-color: #ddd;
  color: #23201D;
}

.tabs-content li {
  display: none;
  padding: 20px;
  
  margin-top: 0;
}

.tabs-content li.active {
  display: block;
} 